*{
		font-family: "american typewriter";
		aborder: solid 2px;
		overflow: scroll;
}
body {
	abackground-color: #A58ECD;
	background-color: rgba(0, 0, 0066, .23);
	width: 100%;
	height: 100%;
}

img{
	max-width: 100%;
	}

.ongletsPageA {
	background-image: url("../images/mtp_accueil.jpg");
	background-size: 100%;
	width:98%;
	height:220px;
	max-width: 100%;
	background-repeat: no-repeat;
	padding-top: 25px;
	font-weight: bold;
	text-align: ;
	text-indent: 2%;
}	
.onglets{
	font-weight: bold;
	}

p {
	font-size: 23px;
}
#connec{
	padding-left: 1100px;
	color: #512A51;
	border: #512A51 2px solid;
	font-weight: bold;
}
a{
	color: black;
	font-weight: bold;
	text-decoration: none;
	margin:30px;
}
option{
	font-size: 50px;
}
/*span{
	margin-left: 65px;
	margin-right: 65px;
}*/
.rechercher{
	background-color: black;
	color: white;
	text-align: right;
	width: 125px;
}
.activite{
	margin-left: 3%;
	margin-top: 1%;
	border: solid 2px;
	font-family: "american typewriter",arial;
	float:left;
	font-size: 15px;
	width: 28%;
	border:solid 2px;
	background-color: rgba(0, 0, 0066, 0.4);
}
#tit{
	font-size: 28px;
	text-align: center;
	font-weight: bolder;
}
.choix{
	margin-left:30%;
	border: solid 2px;
	font-family: "american typewriter",arial;
	float:left;
	font-size: 27px;
	display: table-cell;
	width: 25%;
	border:solid 2px;
	margin-right: 30%;
}
h1{
font-weight: bold;
font-size: 20px;
text-align: center;
}
h2{
font-style: italic;
font-size: 16px;
}
.detail{
	color: blue;
}
.bouton{
	font-family: "american typewriter",arial;
	border: solid 2px;
	font-style: italic;
	background-color: rgba(0, 0, 0066, 0.4);
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	display: block;
	margin:auto;
}
.bouton11{
	width: 20%;
	height: 50%;
	display: inline-block;
	margin-top: 0;
	abackground-color: #9683EC;
	abackground-color: #CCCCFF;
	amargin-left: 80%;
	amargin-right: 10%;
	aborder:solid 2px;
	atext-align: left;
	acolor: black;
	atext-decoration: none;
}
#recherche {
width:60%;
height:24px;
background-color: rgba(F,F,FFFF,0.62;
abox-shadow:1px 1px 2px rgba(0,0,0,.3) inset;
border-radius:2em;
}
  
#recherche .loupe {
background-image: :url("images/loupe.png");
background-repeat: no-repeat;
width:24px;
}
  
#recherche input {
outline:0;
border:0;
margin:0;
height:24px;
float:left;
display:block;
}
  
#recherche input[type=text] {
font:300 12px "American Typewriter", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
background:none;
width:180px;
padding:0 9px;
color:#666;
}
