*{
		font-family: "american typewriter";
		aborder: solid 2px;
		overflow: scroll;
		overflow-x: hidden;
}
html{
	height: 100%;
}
body {
	abackground-color: #A58ECD;
	background-color: rgba(0, 0, 0066, .23);
	width: 100%;
	height: 100%;
}

img{
	max-width: 100%;
	}

.ongletsPageA {
	background-image: url("../images/mtp_accueil.jpg");
	background-size: 100%;
	width:100%;
	height:220px;
	max-width: 100%;
	background-repeat: no-repeat;
	padding-top: 15px;
	font-weight: bold;
	text-indent: 13%;
	color: red;
}	
.onglets{
	font-weight: bold;
	text-indent: 12%;
	}
.profil{
	margin: auto;
	border:2px solid #3F06D0;
	width: 500px;
	height: 700px;
	text-align: center;
	background-image: url(../images/fond_ins.png);
	float: left;
	overflow: hidden;
}
p {
	font-size: 23px;
}
.rose{
color: #B037A6;
display: inline;
text-decoration: underline;
}
#connec{
	border: #512A51 2px solid;
	font-weight: bold;
	width: 20%;
	height: 3.25%;
	display: inline-block;
	margin-top: 0;
	abackground-color: #9683EC;
	background-color: rgba(0, 0, 0066, .35);
	abackground-color: #CCCCFF;
	margin-left: 75%;
	amargin-right: 10%;
	border:solid 2px;
	text-align: center;
 	text-decoration: none;
 	font-size: 20px;
}
a{
	color: black;
	font-weight: bold;
	text-decoration: none;
	margin:30px;
}
option{
	font-size: 50px;
}
/*span{
	margin-left: 65px;
	margin-right: 65px;
}*/
.bjr{
margin-left: 60%}

.activite{
	margin-left: 3%;
	margin-top: 1%;
	font-family: "american typewriter",arial;
	float:left;
	font-size: 15px;
	width: 28%;
	border:solid 2px;
	background-color: rgba(0, 0, 0066, 0.4);
	overflow: scroll;
	height: 60%;

}
#tit{
	font-size: 28px;
	text-align: center;
	font-weight: bolder;
}
.choix{
	margin-left:30%;
	border: solid 2px;
	font-family: "american typewriter",arial;
	float:left;
	font-size: 27px;
	display: table-cell;
	width: 30%;
	border:solid 2px;
	margin-right: 30%;
	display: inline;
}
h1{
font-weight: bold;
font-size: 20px;
text-align: center;
}
h2{
font-style: italic;
font-size: 16px;
}
.bouton{
	font-family: "american typewriter",arial;
	border: solid 2px;
	font-style: italic;
	background-color: rgba(0, 0, 0066, 0.4);
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	display: block;
	margin:auto;
}
.bouton11{
	width: 20%;
	height: 50%;
	display: inline-block;
	margin-top: 0;
	background-color: #9683EC;
	abackground-color: #CCCCFF;
	amargin-left: 80%;
	amargin-right: 10%;
	border:solid 2px;
	atext-align: left;
	acolor: black;
 	text-decoration: none;
}
#recherche {
width:80%;
height:4%;
background-color: rgba(F,F,FFFF,0.62;
abox-shadow:1px 1px 2px rgba(0,0,0,.3) inset;
border-radius:2em;
}
  
#recherche .loupe {
background-image: :url("images/loupe.png");
background-repeat: no-repeat;
width:10%;
}
  
#recherche input {
outline:0;
border:0;
margin:0;
height:24px;
float:left;
display:block;
}
  
#recherche input[type=text] {
font:300 12px "American Typewriter", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
background:none;
width:10%;
padding:0 9px;
color:#666;
}
.souschoix{
color: red;}
